{% extends 'base.html' %} {% block title %} Home {% endblock title %}
{% block body %}
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
<div class="container">
    <h1 class="my-2">Ousr Courses:</h1>
    <div class="row">
        {% for course in courses  %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ course.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{course.title}}</h5>
                  <p class="card-text">{{course.desc}}</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        {% endfor %}
      
    </div>
</div>


{% endblock body %}
