{% extends 'base.html' %} {% block title %} Home {% endblock title %}
{% block body %}
{% load static %}
<div class="container-fluid mx-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item  active">
          <img src="{% static 'img/bg2.jpg' %}" class="d-block w-100 mx-0 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/learning.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/bg2.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<div class="jumbotron">
    <h1 class="display-4 w-100">Welcome to UdemyClone</h1>
    <p class="lead">Skills for your present (and your future). Get started with us.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Let's start learning,{{request.user.username}}</a>
    </p>
  </div>
</div>
<div class="container">
    <h2 class="my-3">Ousr Courses:</h2>
    <div class="row">
        {% for course in courses  %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ course.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{course.title}}</h5>
                  <p class="card-text">{{course.desc}}</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        {% endfor %}
      
    </div>
</div>


{% endblock body %}
