<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <!--nav bar start here-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Udemy Clone</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="course/">Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
        
      </form>
      {% if request.session.user %}

      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle mx-2" style="width: 40px"
            alt="Avatar" />{{request.user.username}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="account/logout/">Logout</a>

          </div>
        </li>
      </ul>
    </div>



    {% else %}
    <button type="submit" class="btn btn-primary mx-2" data-toggle="modal" data-target="#loginModal">
      log in
    </button>
    <button type="submit" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
      sign up
    </button>

    {% endif %}
    </div>
  </nav>
  <!--nav bar ends  here-->
<!--sign up and sign in modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="loginModalLabel">Log in </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="account/login/" method="POST">{% csrf_token %}
        
        <div class="form-group">
          <label for="exampleFormControlInput1">Enter your email</label>
          <input type="test" class="form-control" id="username" name="email" placeholder="username">
        </div>

        <div class="form-group">
          <label for="pass">Password</label>
          <input type="Password" class="form-control" id="password" name="password"></input>
        </div>
        <button type="submit" class="btn btn-secondary">Log in </button>

      </form>
    </div>
  </div>
</div>
</div>


<!-- sign up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="signupModalLabel">Sign up </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="account/signup/" method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">User Name</label>
          <input type="test" class="form-control" id="username" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" name="fname" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="lasname ">Last Name</label>
          <input type="text" class="form-control" id="lname" name="lname" placeholder="lastname">
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="signupemail" name="signupemail"
            placeholder="name@example.com">
        </div>


        <div class="form-group">
          <label for="pass1">Choose a Password</label>
          <input type="Password" class="form-control" id="pass1" name="pass1"></input>
        </div>
        <div class="form-group">
          <label for="pass2">retype your Password</label>
          <input type="Password" class="form-control" id="pass2" name="pass2"></input>
        </div>

        <button type="submit" class="btn btn-secondary"> Sign up </button>

      </form>
    </div>
  </div>
</div>
</div>



{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>message!</strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
<!--modal ends here-->
  {% block body %}{% endblock body %}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  {% block js %}{% endblock js %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
</body>

</html>